<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>
      <h3 class="col mb-4" style="font-weight:bold; color: #345362;">
        <i class="fas fa-pen"></i> 観劇レビュー 一覧</h3>
        <%= render 'admin/user_reviews/list', reviews: @reviews %>
    </div>
  </div>
</div>
