<div class="topic col mt-3">
  <h5 class="font-weight-bold"><i class="fas fa-comments dark_blue"></i><font color="#345362"> トピック一覧</font></h5>
    <div class="card ml-3 mr-5">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to "すべて",posts_path, class: "text-reset" %></li>
        <% topics.each do |topic| %>
        <li class="list-group-item"><%= link_to topic.topic_name, posts_path(topic: topic.id), class: "text-reset"%></li>
        <% end %>
      </ul>
    </div>
</div>
  <div class="col mt-3">
    <h5 class="font-weight-bold">
      <i class="fas fa-pen dark_blue"></i><font color="#345362"> 話題を投稿しよう</font></h5>
      <p class="col"><%= link_to "　新しく投稿する　", new_post_path , class: "btn btn-outline-info mb-4 ml-3" %></p>
  </div>