<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @post %>
  <div class='row'>
    <div class='col-md-3'>
      <h3>トピック一覧</h3>

    <br>
     <%= link_to "新しく投稿する", new_post_path , class: "btn btn-info mr-5" %>
    </div>

    <div class='col-9 offset'>
      </br>
      <h2><strong>談話室</strong></h2>
      <span>あああ</span>
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>