<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @post %>
  <div class='row'>
    <div class='col-md-3'>

      <h2>User info</h2>
      <%= render 'public/users/info', user: current_user %>
    </div>

    <div class='col-md-8 offset-md-1'>
     <%= render 'form', post: @post %></td>
    </div>

    <div class='col-12 offset'>
      </br>
      <h2><strong>談話室</strong></h2>
      <span>あああ</span>
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>