<div class='mx-auto col-12 col-sm-10 col-lg-8 col-xl-6 mt-4'>
  <h5 class="m-3 mt-5"><i class="fas fa-hashtag dark_blue"></i> kangekiとは<font color="#638c93">？</font></h5>
  <div class="ml-3 mt-4">
    <p>ミュージカルや宝塚、伝統芸能、舞台演劇といったジャンルを問わない舞台芸術の情報共有サイト。</p>
    <p>観劇後の感想をレビュー形式で投稿できて、</p>
    <p>気になる公演や劇団についての質問や雑談ができる場所です。</p>
  </div>

</div>