<h1>Homes#top</h1>
<div id="top" class="top-content";>

        <% if user_signed_in? %>
        ログインしてるよ
        <% else%>
            <div class="signup-button">
                <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-dark" %>
            </div>
            <div class="login-button">
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-dark" %>
            </div>
        <% end %>
    </div>
</div>
