<!DOCTYPE html>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <h4 class="col-md-12 pt-3"><strong><%= @user.name %>さんのマイページ</strong></h4>
     <%= render 'info', user: @user %>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class="col-6 md-3">
      レビュー
      <%= link_to '一覧を見る', reviews_path, class: "btn btn-sm btn-info" %>
    </div>
    <div class="col-6 md-3">
      投稿
      <%= link_to '一覧を見る', posts_path, class: "btn btn-sm btn-info" %>
    </div>
  </div>
</div>