<footer class="footer mt-auto py-3" style="background-color: #345362;">
  <div class="container">
    <h6 class="text-light text-center mr-3" id="footer_logo"><small>©kangeki</small></h6>
  </div>
</footer>