<footer class="fixed-bottom" style="background-color: #343a40;">
  <div style="padding: 5px;">
    <h6 class="text-light text-center mr-3" id="footer_logo"><small>©MyNomiBar</small></h6>
  </div>
</footer>